.ft-steps-numbers .ft-item {
    display: block;
    position: relative;
    margin-bottom: 80px;
}



@media (min-width: 1260px)  {

    .navbar-right {

    float: right !important;
    margin-right: -15px;

    }

}