.ft-steps-numbers .ft-item {
    display: block;
    position: relative;
    margin-bottom: 80px;
}



@media (min-width: 1260px)  {

    .navbar-right {

    float: right !important;
    margin-right: -15px;

    }

}


.scroller {
    z-index: 9000;
}


/*.title > .title__inner {
    color: #6dcc9e;
}*/


/*
.ft-cards .ft-item {
    min-height: 510px;
    height: 500px;
}*/


#techstack.dark-bg {
    position: relative;
}
#techstack.dark-bg button.slick-prev{
    background-color: #f8fffd;
    position: absolute;
    left: 0;
    top: calc(50%);
    min-width: 70px;
    color: #111111;
}


#techstack.dark-bg button.slick-next{
    background-color: #f8fffd;
    position: absolute;
    right: 0;
    top: calc(50%);
    min-width:70px;
    color: #111111;

}