.ft-steps-numbers .ft-item {
    display: block;
    position: relative;
    margin-bottom: 80px;
}



@media (min-width: 1260px)  {

    .navbar-right {

    float: right !important;
    margin-right: -15px;

    }

}


.scroller {
    z-index: 9000;
}


/*.title > .title__inner {
    color: #6dcc9e;
}*/


/*
.ft-cards .ft-item {
    min-height: 510px;
    height: 500px;
}*/


#techstack.dark-bg {
    position: relative;
}
#techstack.dark-bg button.slick-prev{
    background-color: #f8fffd;
    left: 0;
    position: absolute;
    left: 0;
    top: calc(50%);
    min-width: 70px;
    color: #111111;
    transition: left .5s;
}

#techstack.dark-bg button.slick-prev:hover {
    left: 12px;
}


#techstack.dark-bg button.slick-next{
    right: 0;
    background-color: #f8fffd;
    position: absolute;
    right: 0;
    top: calc(50%);
    min-width:70px;
    color: #111111;
    transition: right .5s;
}

#techstack.dark-bg button.slick-next:hover{
    right: 12px;
}

a:focus{
    color:#6dcc9e;
}



ul.nav.navbar-nav .linea-music-bell.ring {
    -webkit-animation: ring 8s ease-in-out;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 8s ease-in-out;
    -moz-transform-origin: 50% 4px;
    animation: ring 8s ease-in-out;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

textarea.quick-message {
    margin-bottom: 20px;
}

.navbar-default .nav-and-logo {
    margin-top: 10px;
}

.navbar-default .nav-and-logo button {
    margin-right:60px;
}